.menu-flag {
  width: 60px;
  height: 88px;
  margin-left: 5%;
}
.overlay-text {
  position: absolute;
}
.maintxt {
  position: relative;
}

.header-button-text {
  font-size: 20px;
  font-family: cursive;
  color: rgb(98, 62, 36);
  line-height: 2.915;
  text-align: center;
  font-style: bold;
}
.banner-container {
  padding: 8%;
}

.banner-heading {
  font-size: 30px;
  font-family: cursive;
  color: rgb(98, 62, 36);
  margin-bottom: 0px;
}
.banner-sub-heading{
  font-size: 45px;
  font-family: cursive;
  color: rgb(98, 62, 36);
  margin-bottom: 0px;
}
.banner-text{
  padding-right: 20%;
}

.banner-button{
  line-height: 2.211112;
  font-size: 24px;
  font-family: cursive;
  color: rgb(98, 62, 36);
  text-align: center;
}
.tales-sub-heading{
  font-size: 45px;
  font-family: cursive;
  color: rgb(98, 62, 36);
  margin-bottom: 0px;
  align-items: center;
}